/*  */
.Books {
  background-color: var(---basedark);
}
.bookpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20px;
}
.bookpage h2 {
  font-size: 40px;
  font-family: var(---fontheadline);
  color: var(---baselight);
}
/* display books */
.bookpage .displaybackgoundCTFY {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book8ctfy.png");
}
.bookpage .displaybackgoundWAHOS {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book7wahos.png");
}
.bookpage .displaybackground {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.bookpage .displaybookimage {
  width: 120px;
}
.bookpage .displaybooktext {
  font-size: 22px;
  text-align: left;
}
.bookpage .stars{
  color: var(---baselight);
  text-align: center;
}
/* old books */

.bookpage h3 {
  font-family: var(---fontheadline);
  color: var(---baselight);
  font-size: 20px;
}
.bookpage .oldbackgound6 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book6tlwt.png");
}
.bookpage .oldbackgound5 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book5imam.png");
}
.bookpage .oldbackgound4 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book4ila.png");
}
.bookpage .oldbackgound3 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book3tde.png");
}
.bookpage .oldbackgound2 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book2tkt.png");
}
.bookpage .oldbackgound1 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book1bs.png");
}
.bookpage .oldbackgound0 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/book0mhw.png");
}
.bookpage .oldbackground {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.bookpage .oldbookimage {
  width: 80px;
}
.bookpage .oldbooktext {
   font-size: 16px;
  text-align: left;
}
.bookpage .oldbooklinks {
  font-size: 10px;
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 420px) {
}
