.Books {
  background-color: var(---basedark);
}
.bookpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20px;
}
.bookpage h2 {
  font-family: var(---fontheadline);
  color: var(---baselight);
}
/* current book */
.bookpage .currentbook {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/ctfy.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.bookpage .currentbookimage {
  width: 120px;
}
.bookpage .currentbooktext {
  font-size: 10px;
}
/* last book */
.bookpage .lastbook {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/wahos.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.bookpage .lastbookimage {
  max-width: 150px;
}

.bookpage .lastbooktext {
  font-size: 10px;
}
/* old books */
.bookpage .book6 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/tlwt.png");
}
.bookpage .book5 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/wahos.png");
}
.bookpage .book4 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/wahos.png");
}
.bookpage .book3 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/wahos.png");
}
.bookpage .book2 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/wahos.png");
}
.bookpage .book1 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/wahos.png");
}
.bookpage .book0 {
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgb(0, 0, 0, 0.7) 100%
    ),
    url("../media/wahos.png");
}
.bookpage .oldbooks {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.bookpage .oldbookimage {
  max-width: 150px;
}
