.Navigation nav {
  background-color: #072022;
  position: sticky;
  top: 0;
  height: fit-content;
  padding: 7px 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.237);
  z-index: 10;
}
.navbar .nav-link {
  color: rgb(255, 213, 0);
}
.smalllogo {
  height: 30px;
}
