:root {
  --media-primary-color: rgb(255, 190, 0);
}

.News {
  background-color: var(---basedark);
}

.newspage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 10%;
  font-size: 22px;
}

.newspage hr {
  border: 4px var(---baselight);
  border-style: double;
  color: var(---dark);
  opacity: 0.7;
}
.newspage .newsOne,
.newspage .newsTwo,
.newspage .newsThree {
  padding: 30px 50px;
}
.newspage .iconContainer {
  width: 70%;
  margin: 0 auto;
}
.newspage .contactlinkicon {
  color: var(---baselight);
  font-size: 26px;
}

.newspage .contactlinkicon:hover {
  color: var(---base);
}

.MediaContoller:host,
.MediaContoller {
  background-color: var(---baselight);
}

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 420px) {
}
