.News {
  background-color: var(---basedark);
}

.newspage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  font-size: 22px;
}
.newspapersnippet {
  max-height: 300px;
  border-radius: 6px;
}

.bookinmagazine {
  font-size: 30px;
}

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 420px) {
}
