/* checked */
.currentbooksection {
  background-color: var(---dark);
}
.currentbooksection h1 {
  margin-top: -30px;
  padding-top: 10px;
}
.currentbooksection hr {
  border: 2px solid var(---basedark);
  color: var(---basedark);
}
.currentbooksection .subtitle {
  max-height: 60px;
  margin: 30px 0px 0 30px;
  transform: rotate(-5deg);
}
.currentbooksection .jcimage {
  max-height: 540px;
}
.currentbooksection .introduction {
  font-size: 24px;
  line-height: 33px;
}
.currentbooksection .stars {
  color: var(---baselight);
}
.currentbooksection .newspapersnippet {
  max-height: 300px;
  border-radius: 6px;
}
.currentbooksection .bookinmagazine {
  font-size: 30px;
}
.currentbooksection .adlastbook {
  font-size: 20px;
}
@media (max-width: 992px) {
  .currentbooksection h1 {
    font-size: 85px;
    margin: -10px 0 30px 0;
    padding: 10px 0 0 90px;
  }
  .currentbooksection .subtitle {
    max-height: 50px;
    margin: 30px 0px 0 30px;
  }
  .currentbooksection .jcimage {
    max-height: 450px;
  }

  .currentbooksection .introduction {
    font-size: 22px;
    line-height: 30px;
  }
  .currentbooksection .newspapersnippet {
    max-height: 250px;
  }
  .currentbooksection .bookinmagazine {
    font-size: 25px;
  }
  .currentbooksection .starreviewhome {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .currentbooksection h1 {
    margin: 0 0 30px 0;
    padding: 30px 0 0 60px;
    font-size: 75px;
  }
  .currentbooksection h2 {
    font-size: 70px;
  }
  .currentbooksection .subtitle {
    max-height: 50px;
    margin: 0px 0px 0 30px;
  }
  .currentbooksection .jcimage {
    max-height: 260px;
  }
  .currentbooksection .bookinmagazine {
    font-size: 18px;
  }
  .currentbooksection .starreviewhome {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .currentbooksection h1 {
    margin: 0 0 10px 0;
    padding: 35px 0 0 30px;
    font-size: 65px;
  }
  .currentbooksection h2 {
    font-size: 60px;
  }
  .currentbooksection .subtitle {
    max-height: 45px;
    margin: 15px 0px 0 30px;
    transform: rotate(-2deg);
  }
  .currentbooksection .jcimage {
    max-height: 460px;
  }
  .currentbooksection .newspapersnippet {
    max-height: 180px;
    border-radius: 4px;
  }
  .currentbooksection .bookinmagazine {
    font-size: 19px;
  }
  .currentbooksection .starreviewhome {
    font-size: 19px;
    line-height: 26px;
  }
  .currentbooksection .adlastbook {
    font-size: 19px;
  }
  .currentbooksection .comingtofindyouAmazon {
    font-size: 17px;
  }
}

@media (max-width: 420px) {
  .currentbooksection h1 {
    margin: 0 0 15px 0;
    padding: 30px 0 0 30px;
    font-size: 54px;
  }
  .currentbooksection h2 {
    font-size: 48px;
  }
  .currentbooksection .subtitle {
    max-height: 40px;
    margin: -50px 0px 0 30px;
  }
  .currentbooksection .jcimage {
    max-height: 400px;
  }

  .currentbooksection .introduction {
    font-size: 17px;
    line-height: 28px;
  }

  .currentbooksection .bookinmagazine {
    font-size: 15px;
  }
  .currentbooksection .starreviewhome {
    font-size: 16px;
    line-height: 23px;
  }
  .currentbooksection .adlastbook {
    font-size: 15px;
  }
  .currentbooksection .comingtofindyouAmazon {
    font-size: 14px;
  }
  .currentbooksection .reviewsection {
    font-size: 12px;
  }
  .currentbooksection .reviewLink {
    font-size: 14px;
  }
}
