.currentbooksection {
  background-color: var(---dark);
}

.currentbooksection h1 {
  margin-top: -30px;

  font-size: 80px;
  font-family: var(---fontheadline);
  color: var(---baselight);
}
.currentbooksection h2 {
  font-size: 70px;
  font-family: var(---fontheadline);
  color: var(---baselight);
}
.currentbooksection hr {
  border: 2px solid var(---basedark);
  color: var(---basedark);
}
.currentbooksection .subtitle {
  max-height: 50px;
  margin: -10px 0px 0 100px;
  transform: rotate(-5deg);
}
.currentbooksection .jcimagesmall {
  max-height: 490px;
}
.currentbooksection .introduction {
  font-size: 20px;
  line-height: 33px;
}
.currentbooksection .stars {
  color: var(---baselight);
}
.currentbooksection .newspapersnippet {
  max-height: 300px;
  border-radius: 6px;
}

.currentbooksection .bookinmagazine {
  font-size: 30px;
}

.currentbooksection .adlastbook {
  font-size: 20px;
}
.currentbooksection .aboutJaneCorry {
  background: linear-gradient(
      172deg,
      rgba(1, 20, 21, 0.7) 0%,
      rgb(1, 20, 21, 0.7) 100%
    ),
    url("../../media/jccoverwindow.png");
}
.currentbooksection .jcimage {
  max-height: 450px;
  filter: saturate(130%) grayscale(90%);
}
.currentbooksection .jcdescription {
  font-size: 20px;
  line-height: 33px;
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 420px) {
}
