.homesection .herocontainer {
  max-height: 530px;
}
.homesection .flickeringlights {
  height: 500px;
  width: 250px;
  background-color: #fdb20b;
  animation: blinker 50s
    linear(
            1 5%,
       0 10%,
      1 15%,
      0 20%,
      1 25%,
      0 30%,
      1 35%,
      0 40%,
      1 45%,
      0 50%,
      1 55%,
      0 60%,
      1 65%,
      0 70%,
      1 75%,
      0 80%,
      1 85%,
      0 90%,
      1 95%,
      0 100%
    )
    infinite;
}
.homesection .hero {
  position: relative;
  top: -580px;
  height: 620px;
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgb(0, 0, 0, 0.1) 100%
    ),
    url("../../media/jccovernowindow.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.homesection .titleimage {
  max-height: 300px;
  margin: 150px 10px 5px 1px;
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .homesection .herocontainer {
    max-height: 430px;
  }
  .homesection .flickeringlights {
    height: 400px;
  }
  .homesection .hero {
    top: -480px;
    height: 520px;
  }
  .homesection .titleimage {
    max-height: 270px;
    margin: 100px 10px 5px 100px;
  }
}

@media (max-width: 768px) {
  .homesection .herocontainer {
    max-height: 330px;
  }
  .homesection .flickeringlights {
    height: 300px;
  }
  .homesection .hero {
    top: -330px;
    height: 420px;
  }
  .homesection .titleimage {
    max-height: 200px;
    margin: 50px 10px 5px 20px;
  }
}
@media (max-width: 576px) {
  .homesection .herocontainer {
    max-height: 280px;
  }
  .homesection .flickeringlights {
    height: 250px;
  }
  .homesection .hero {
    top: -280px;
    height: 390px;
  }
  .homesection .titleimage {
    max-height: 160px;
  }
}
@media (max-width: 420px) {
  .homesection .herocontainer {
    max-height: 430px;
  }
  .homesection .flickeringlights {
    height: 400px;
  }
  .homesection .hero {
    top: -480px;
    height: 520px;
  }
  .homesection .titleimage {
    max-height: 130px;
    margin: 100px 10px 5px 20px;
  }
}
