.herocontainer {
  max-height: 530px;
}
/* *{border: 1px solid red} */
.flickeringlights {
  height: 500px;
  width: 250px;
  background-color: #fdb20b;
  animation: blinker 15s
    linear(
      -0.45 -11.98%,
      0.25 -3.31%,
      -0.11 11.94%,
      0.29 23.92%,
      -0.14 35.36%,
      1.05 44.08%,
      -0.38 48.98%,
      0.03 60.42%,
      -0.31 78.94%,
      1.35 99.46%
    )
    infinite;
}
.hero {
  position: relative;
  top: -580px;
  height: 620px;
  background: linear-gradient(
      172deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgb(0, 0, 0, 0.1) 100%
    ),
    url("../../media/jccovernowindow.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.titleimage {
  max-height: 300px;
  margin: 150px 10px 5px 1px;
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@media (max-width: 992px) {
  .herocontainer {
    max-height: 430px;
  }
  .flickeringlights {
    height: 400px;
  }
  .hero {
    top: -480px;
    height: 520px;
  }

  .titleimage {
    max-height: 270px;
    margin: 100px 10px 5px 100px;
  }
}

@media (max-width: 768px) {
  .herocontainer {
    max-height: 330px;
  }
  .flickeringlights {
    height: 300px;
  }
  .hero {
    top: -330px;
    height: 420px;
  }

  .titleimage {
    max-height: 200px;
    margin: 50px 10px 5px 20px;
  }
}
@media (max-width: 576px) {
  .herocontainer {
    max-height: 280px;
  }
  .flickeringlights {
    height: 250px;
  }
  .hero {
    top: -280px;
    height: 390px;
  }

  .titleimage {
    max-height: 160px;
    /* margin: 50px 10px 5px 20px;*/
  }
} /* 
@media (max-width: 420px) {
} */
