.newssection h2 {
  font-size: 60px;
  font-family: var(---fontheadline);
  color: var(---baselight);
}
.newssection .newsCardContainer {
  padding: 30px 60px;
}
.newssection figcaption {
  background-color: var(---baselight);
  color: var(---basedark);
}
.newssection .cardOne,
.newssection .cardTwo,
.newssection .cardThree {
  max-width: 80%;
  height: 98%;
  margin: 0 auto;
  padding: 25px 30px 5px 30px;
  border: 3px double var(---baselight);
}
.newssection .cardtextOne,
.newssection .cardtextTwo,
.newssection .cardtextThree {
  font-size: 22px;
}
.newssection .ctfycover,
.newssection .newspapersnippet {
  max-height: 300px;
}
.newssection .ctfycover {
  max-width: 216px;
}

@media (max-width: 992px) {
  .newssection .newspapersnippet {
    max-height: 250px;
  }
}

@media (max-width: 769px) {
  .newssection .newsCardContainer {
    padding: 25px 20px;
  }
  .newssection .newspapersnippet {
    max-height: 210px;
  }
}
@media (max-width: 576px) {
  .newssection h2 {
    font-size: 50px;
  }
  .newssection .newsCardContainer {
    padding: 20px 0px;
  }
  .newssection .cardOne,
  .newssection .cardTwo,
  .newssection .cardThree {
    max-width: 85%;
  }
  .newssection figcaption {
    font-size: 14px;
  }
  .newssection .cardtextOne,
  .newssection .cardtextTwo,
  .newssection .cardtextThree {
    font-size: 19px;

    padding: 20px 20px 5px 20px;
  }
}

@media (max-width: 420px) {
  .newssection .cardtextOne,
  .newssection .cardtextTwo,
  .newssection .cardtextThree {
    font-size: 18px;
  }
  .newssection .cardOne,
  .newssection .cardTwo,
  .newssection .cardThree {
    max-width: 90%;
    padding: 15px 15px 5px 15px;
  }
  .newssection .newspapersnippet {
    max-height: 180px;
  }
}
