.newssection h2 {
  font-size: 60px;
  font-family: var(---fontheadline);
  color: var(---baselight);
}
.newssection .newsCardContainer {
  padding: 30px 60px;
}

.newssection .cardOne,
.newssection .cardTwo,
.newssection .cardThree {
  width: 95%;
  height: auto;
  min-height: 98%;
  overflow: auto;
  margin: 0 auto;
  padding: 25px 30px 5px 30px;
  border: 3px double var(---baselight);
}
.newssection .cardtextOne,
.newssection .cardtextTwo,
.newssection .cardtextThree {
  font-size: 22px;
}
.newssection .ctfycover,
.newssection .newspapersnippet {
  max-height: 300px;
}
.newssection .cardImageTwo,
.newssection .cardImageOne,
.newssection .cardImageThree {
  max-width: 40%;
  height: auto;
}

@media (max-width: 992px) {
  .newssection .newspapersnippet {
    max-height: 250px;
  }
  .newssection .cardImageTwo,
  .newssection .cardImageOne,
  .newssection .cardImageThree {
    max-height: 240px;
  }
  .newssection .cardOne,
.newssection .cardTwo,
.newssection .cardThree {
  width: 65%;
  
}
}

@media (max-width: 769px) {
  .newssection .newsCardContainer {
    padding: 25px 20px;
  }
    .newssection .cardOne,
.newssection .cardTwo,
.newssection .cardThree {
  width: 78%;
  
}

  .newssection .cardImageTwo,
  .newssection .cardImageOne,
  .newssection .cardImageThree {
    max-height: 220px;
  }

}
@media (max-width: 576px) {
  .newssection h2 {
    font-size: 50px;
  }
  .newssection .newsCardContainer {
    padding: 20px 0px;
  }
  .newssection .cardOne,
  .newssection .cardTwo,
  .newssection .cardThree {
  width: 85%;
    padding: 10px 0 5px 0;
  }

  .newssection .cardtextOne,
  .newssection .cardtextTwo,
  .newssection .cardtextThree {
    font-size: 19px;
    padding: 20px 20px 5px 20px;
  }
  .newssection .cardImageTwo,
  .newssection .cardImageOne,
  .newssection .cardImageThree {
    max-height: 180px;
  }
}

@media (max-width: 420px) {
  .newssection .cardtextOne,
  .newssection .cardtextTwo,
  .newssection .cardtextThree {
    font-size: 18px;
  }
  .newssection .cardOne,
  .newssection .cardTwo,
  .newssection .cardThree {
    max-width: 95%;
  }
  .newssection .cardImageTwo,
  .newssection .cardImageOne,
  .newssection .cardImageThree {
    max-height: 140px;
  }
}
