/* checked */
.Slideshow .book {
  max-height: 240px;
}
@media (max-width: 576px) {
  .Slideshow .book {
    max-height: 200px;
  }
}
@media (max-width: 420px) {
  .Slideshow .book {
    max-height: 160px;
  }
}
