:root {
  ---base: rgb(224, 219, 199);
  ---dark: #001112;
  ---baselight: #fdb20b;
  ---basedark: #011415;
  ---fontheadline: "Alice", serif;
}
/*  */
/* *{border: 1px solid red;} */
/* generic classes */

h1 {
  font-size: 80px;
  font-family: var(---fontheadline);
  color: var(---baselight);
}
.btnLightDark {
  border: 1px solid var(---baselight);
  border-radius: 4px;
  background-color: var(---baselight);
  color: var(---dark);
  text-decoration: none;
}
.btnLightDark:hover {
  background-color: var(---dark);
  color: var(---baselight);
}

.btnDarkLight {
  border: 1px solid var(---baselight);
  border-radius: 4px;
  background-color: var(---baselight);
  color: var(---dark);
  text-decoration: none;
}
.btnDarkLight:hover {
  background-color: var(---dark);
  color: var(---baselight);
}

.linkLightBase {
  color: var(---baselight);
  text-decoration: none;
}
.linkLightBase:hover {
  color: var(---base);
}
.highlight {
  color: var(---baselight);
}
.buttonLink {
  background: none;
  border: none;
  color: var(---baselight);
}
.buttonLink:hover {
  color: var(---base);
}
/*  */

.App {
  color: var(---base);
  font-family: "Catamaran", sans-serif;
}
